
body{
    position: relative;
}

.d-flex input {
    margin: 0.9em 0em
}

.d-flex button {
    margin: 1.5em 0.6em;
    padding: 0.3em 2.4em;
}

.container table {
    margin: 1em auto;
}

table .btnedit {
    color: lightgreen;
    cursor: pointer;
}

table .btndelete {
    color: tomato;
    cursor: pointer;
}

table i {
    padding: 5px;
}

.no-item {
    display: none;
}

.w-100{
    position: absolute;
    top: -40px;
    text-align: center;
    padding: 5px;
    max-width: 70%;
    left: 50%;
    margin-left: -35%;
}

div.slide {
    animation: slideup 3.4s normal cubic-bezier(0, 1.5, 0.64, 1.07);
    -webkit-animation: slideup 3.4s normal cubic-bezier(0, 1.5, 0.64, 1.07);
}

@media(max-width: 768px){
    .w-100{
        max-width: 100%;
        left: 0;
        margin-left: 0;
    }
}

/* animation */
@keyframes slideup{
    50%{
        top: 0;
    }

    100%{
        top: -40px;
    }
}
@-webkit-keyframes slideup{
    50%{
        top: 0;
    }

    100%{
        top: -40px;
    }
}

